@use './styles/mixins';
@use './styles/colors';
@use './styles/fonts';

*,*::before,*::after {
  box-sizing: border-box;
}

html, body {
  font-family: "Product-Sans", sans-serif;
  margin: 0;
  padding: 0;
}



.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  color:inherit;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}